.BigLogo {
  font-size: 1.5rem;
  margin: 20vh auto 0;
}

.BigLogo__logo{
  display: inline-block;
  width: 3rem; 
}

@media screen and (max-width: 576px){
  .BigLogo{
    font-size: 3vw;
  }
  .BigLogo__logo{
    width: 6vw;
  }
}