.SideMenu {
  /* position: absolute; */
  width: 200px;
  /* top: 0;
  right: 0; */
  z-index:5;
  border-left: 2px solid #3f3f3f;
  background: var(--background);
  height:100vh;
  background:var(--background);
}

.SideMenu__img {
  
  /* position: relative; */
}

.SideMenu__img-close {
  /* position: absolute; */
  /* top: -20px;
  left: 5px; */
  margin-right:150px;

}

.SideMenu__img-close:hover {
  cursor: pointer;
}

.SideMenu__img .ProfileIcon .ProfileIcon-img  {
  width: 70%;  
}

.SideMenu__list{
  padding:0 1em;

}

.SideMenu__item{
  padding-top:1em;
  padding-bottom:1em;
  list-style:none;
  cursor: pointer;
}

.SideMenu__link{
  text-decoration:none;
  color: var(--on-primary);
}

.SideMenu__section{
  border-bottom: 0.2px solid  #3f3f3f;
}

@media screen and (max-width: 576px) {
  .SideMenu{
    width:100vw;
  }
  .SideMenu__img .ProfileIcon .ProfileIcon-img  {
    width: 30%;  
  }
  .SideMenu__list{
    padding:0 5em;
  
  }
}
