.SideMenu {
  position: fixed;
  width: 200px;
  top: 0;
  right: 0;
  z-index: 99;
  border-left: 2px solid #3f3f3f;
  background: var(--background);
  height:100vh;
}

.SideMenu__img {
  
  position: relative;
  background:var(--background);
}

.SideMenu__img-close {
  position: absolute;
  top: -20px;
  left: 5px;
}

.SideMenu__img-close:hover {
  cursor: pointer;
}


.SideMenu__img .ProfileIcon .ProfileIcon-img {
  width: 70%;
}

.SideMenu__item{
  cursor: pointer;
}

.SideMenu__link{
  text-decoration:none;
  color: var(--on-primary);
}

.SideMenu__breakline{
  width:70%;
  height:1px;
  border-width:0;
  /* once we add the color in color pallete, a variable can be used */
  background:#3f3f3f;

}
