.Landing {
    box-sizing: border-box;
    margin-top: 12%;
}

.Landing h1{
  font-size: 5.5em;
  padding: 0 10% 0;
  letter-spacing: 10px;
  font-weight: 400;
  margin-bottom: 0;
}

.Landing h3{
    font-size: 1.2em;
    padding: 0 10% 0;
    font-weight: 300;
    letter-spacing: 4px;
}

.Landing img{
    max-width: 1.2em;
}