.Landing {
  animation: fade 1500ms forwards;

}

.Landing__project-by {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade 1500ms 2 alternate forwards;
}

.Landing__cnsplit-logo {
  width: 2rem;
  margin-left: 0.7em;
  display: inline-block;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  70%,
  100% {
    opacity: 1;
  }
}
