.GeneratingQuiz__pullingQuiz{
    
    /* Using fixed here will cause alignment issues if more content was added, in general this is not good practice, you don't want a window floating in front of a building, you want it attached to it */
    /* position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%); */
    
    /* color of all text by default is on-background, use on priamry when there is a PRIMARY unit 'behind' the text */
    /* color: var(--on-primary); */
}

/* https://css-tricks.com/bem-101/ */
/* Don't use the following selector, a better selector would be .GeneratingQuiz__status*/
/* .GeneratingQuiz h1 { */
    /* font-size:2rem; */

    /* Font weight is not needed. Don't add these unless you want them to be different than the rest of the content */
    /* font-weight:100; */
    /* letter-spacing:0.07em;   */
    
/* } */

/* Don't use the following selector, a better selector would be .GeneratingQuiz__redirect*/
/* .GeneratingQuiz p { */
    
    /* Don't use these unless needed */
    /* font-size:1em;
    font-weight:100; */
    
 /* } */


     









 


