
.form-group .primary-btn{
    border:none;
}


   .Login__paragraph{
       text-align:left;
       padding-left:1em;
       font-size:1.2em;
    
   }
   .Login__link{
    color: var(--secondary);
   }