
.form-group .primary-btn{
    background:#4361ee;
    border:none;
}


   .Login__paragraph{
       text-align:left;
       padding-left:1em;
       font-size:1.2em;
    
   }
   .Login__link{
       color:#e63946;
   }