.ConfirmLogin img{
    width: 6em;
    height: auto;
    border-radius:50%;
    
}
.ConfirmLogin__btn{
    background: var(--primary);
    border-radius: var(--default-radius);
    width: 100%;
    max-width: 45em;
    height: 200px;
    border: none;
    margin-bottom: 10px;
}


.ConfirmLogin__link {
    color:var(--on-primary);
    margin: 8em;
}
