.ConfirmLogin img{
    width: 7em;
    height: auto;
    border-radius:50%;
    
}

button{
    background: var(--primary);
    border-radius: var(--default-radius);
    width: 100%;
    height: 200px;
    border: none;
    margin-bottom: 10px;
}

.link {
    color: white;
}
